<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Gerar Vídeo</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="activeSegment()" (ionChange)="navigate($event.detail.value?.toString())">
      <ion-segment-button value="text">
        <ion-icon name="text-outline"></ion-icon>
        <ion-label>Texto</ion-label>
      </ion-segment-button>
      <ion-segment-button value="image" [disabled]="!state.isModeSupported('image-to-video')()">
        <ion-icon name="image-outline"></ion-icon>
        <ion-label>Imagem</ion-label>
      </ion-segment-button>
      <ion-segment-button value="first-last" [disabled]="!state.isModeSupported('first-last-frame')()">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>1º e Último Frame</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>
